html, body {
  height: 100%;
}

.ebook {
  width: 100%;
  height: calc(100% - 120px);
}

.title-box {
  height: 120px;
}

#title {
  border-style: solid;
  border-width: 4px;
  display: inline-block;
  padding: 20px;
}
